html,
body {
    height: 100%;
    margin: 0px;
    /* margin: 10px; */
    /* overflow-y: hidden; */
    background-color: rgba(53, 2, 2);
}

.grid-item {
    background-color: #757373;
    height: 40px;
    width: 40px;
    /* padding: 10px; */
    /* margin: 0px; */
    /* border: 3px solid black; */
    border: 3px solid #282828;
    box-shadow:
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.5),
        4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    margin: 50px auto;
}

.reset:hover {
    background-color: green;
}

.dice:hover {
    background-color: rgb(23, 0, 128);
    /* color: #757373; */
}

.grid-container {
    margin-top: 3%;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(10, 48px);
    grid-auto-rows: 48px;
}

.btn {
    display: grid;
    grid-template-columns: repeat(1, 30px);
    grid-auto-rows: 30px;
    justify-content: right;
    /* float: right; */
    border: none;
    background-color: #757373;
    color: #222;
    font-size: 2rem;
    font-family: inherit;
    padding: 2rem 3rem;
    cursor: pointer;
}

.reset {
    text-decoration: none !important;
}

.dice {}